.message-field {
   display: flex;
   flex-direction: column;
   background-color: #e2e2e2;
   height: 50%;
   width: 100%;
   padding: 20px;
   overflow-y: scroll;
}

.layout {
   height: 100%;
   width: 50%;
   margin: auto;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.layout-canvas {
  display: inline-block;
}

.layout-left-side {
    float: left;
    display: inline-block;
    width: 30%;
}

.layout-right-side {
  display: inline-block;
  width: 70%;
}

.message {
   background-color: lightblue;
   padding: 5px 15px;
   border-radius: 20px;
   font-size: 18px;
   margin: 5px;
}

.message-sender {
   color: gray;
   font-size: 14px;
}

.header {
  width: 100%;
  text-align: center;
}
